.guests {
  flex: 2;
  border-right: 1px solid #22242626;
  .guest_wrapper {
    cursor: pointer;
    .guest_header {
      padding: 10px 10px 0px 10px;
      .guest_title {
        display: flex;
        justify-content: space-between;
        .guest_input_holder {
          padding: 15px 0px 0px 10px;
          .guest_input_label {
            padding-bottom: 2px;
            color: #c6c6c6;
            margin: 0;
          }
          .guest_count {
            margin: 0;
            font-size: 18px;
            font-weight: 400;
          }
        }
        .guest_icon {
          padding: 20px 10px;
        }
      }
    }
    .guest_list {
      cursor: default;
      background: #fff;
      max-height: 250px;
      overflow-y: scroll;
      .guest_add_room {
        padding: 10px;
        .guest_add_room_button {
          cursor: pointer;
          margin-top: 20px;
          width: 100%;
          min-height: 14px;
          text-align: center;
          border-radius: 2px;
          padding: 5px 0px;
          font-size: 14px;
          border: 2px solid #ff851b;
          background-color: transparent;
          color: #ff851b;
          &:hover {
            background: #ff851b;
            color: #fff;
          }
          &:focus {
            outline: none;
          }
        }
      }
      .guest_room {
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        .guests_icon {
          padding-top: 10px;
        }
        .rooms_remove {
          cursor: pointer;
          flex: 0.5;
        }
        .room_guests {
          flex: 2;
          p {
            color: #c6c6c6;
            font-size: 12px;
            font-weight: 300;
            margin: 0;
          }
          h5 {
            margin: 0;
          }
        }
        .guests_add,
        .guests_remove {
          cursor: pointer;
          flex: 1;
        }
      }
    }
  }
}
